
:root {
    --primary-color: #ffe375;
    --secondary-color: slategray;
    --background-color: white;
    --navbar-background: lightslategray;
    --gallery-background: aliceblue;
    --font-size: 22px;
  }
  

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--background-color);
  }
  
  .main {
    background-color: var(--secondary-color);
    color: black;
    width: 70%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-top 0.2s ease-in-out; /* Smooth transition for margin */
    min-height: 110vh;
  }
  
  .main.scrolled {
    margin-top: 80px; /* Height of the navbar */
  }
  
  .banner {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
  }
  
  .banner.hidden {
    transform: translateY(-100%); /* Move banner out of view when hidden */
  }
  
  
  
  .banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    white-space: nowrap;
    transition: opacity 0.2s ease-in-out; /* Adjust transition speed */
    z-index: 2; 
  }
  
header {
  background-color: var(--navbar-background);

}

  .overlay-text.hidden {
    opacity: 0; 
  }
  
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--navbar-background);
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 0.5;
}
  
  nav button {
    padding: 10px 20px;
    background-color: var(--navbar-background);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    font-size: 24px;
    margin: 0 2.5px;
  }
  
  nav button:hover {
    background-color: #45a049;
  }
  
 
  .flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: lightgray;
    height: 350px;
  }
  
  .container-1, .container-2 {
    flex: 1;
    font-size: var(--font-size);
  }
  
  .container-1 {
    max-width: 350px;
  }
  
  .container-1 img {
    width: 100%;
    height: auto;
    max-width: 350px;
    display: block;
  }
  
  .container-2 {
    padding: 1vw;
    align-items: center;
  }
  
  .container-2 .c2footer img {
    height: 25px;
    width: auto;
    padding: 2px;
  }
  
  .c2footer {
    translate: 0 -10px;
    display: inline-block;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
    height: auto;
    background-color: var(--gallery-background);
  }
  
  .image {
    position: relative;
    overflow: hidden;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .image:hover img {
    transform: scale(1.1);
    
  }
  
  .image-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 32px;
    border-radius: 5px;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .image:hover .image-name {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
  }
  

  .footer {
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: space-between;
    margin-top: 50px;
    background-color: lightgray;
    border-radius: 2.5px;
    margin-top: 50px;
  }
  
  .footer img {
    width: 250px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
  }
  

  .newsletter {
    background-color: var(--gallery-background);
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    width: 50%;
    height: auto;
  }
  
  .newsletter input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .btn1 {
    right: 0;
    margin-right: 50px;
    margin-bottom: 25px;
    position: fixed;
    bottom: 0;
    border: none;
    background-color: transparent;
  }
  
  .btn1 img {
    width: 75px;
    height: 75px;
    z-index: 1;
  }
  