body {
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
    background-color: darkslategrey;
}

canvas {
    display: block; /* Remove any default whitespace */
    background-color: #f0f0f0; /* Light gray background */
    margin: auto; /* Center the canvas */
    border: 1px solid #ccc; /* Optional: Add a border */
}


.footer{
    color: white;
}