/* Blog post list styles */
.post-summary {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
   /* Ensure title is above image */
}

.post-summary-content {
  display: flex;
  align-items: flex-start; /* Align items at the start of the container */
  
}

.post-summary img {
  max-width: 250px; /* Increase the size of the images */
  height: auto;
  margin-right: 20px; /* Add some space between the image and the text */
  flex-shrink: 0; /* Prevent the image from shrinking */
  flex-direction: left;
}

.post-summary h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px; /* Add space between title and image */
  flex-direction: column;
}

.post-summary p {
  color: #666;
  font-size: 1.5em;
}

.post-summary a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #4CAF50;
}

.post-summary a:hover {
  text-decoration: underline;
}

/* Post styles */
.post {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9; /* Default background color for posts */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.post-title {
  font-size: 2em;
  color: #333;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 15px;
}

.post-content {
  font-size: 1em;
  color: #333;
  line-height: 1.8;
}

.post-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Specific background color for every alternate post */
.post:nth-child(even) {
  background-color: #e9e9e9;
}
